cython==3.0.2   
numpy==1.25.2
pandas==1.5.3
openpyxl
eyeD3
opencv-python
pytesseract
tesseract
spacy 
phonenumbers
# easyocr
chardet
spaCy
extract_msg
PyPDF2
beautifulsoup4
python-docx==0.8.11
# exceptions 
cryptography
